
@import url("fonts.css");

@import url("reset.css");

body {
  font-family: "Steppe", sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #fff;
  /* color: radial-gradient(1164.51% 127.57% at 49.26% 43.93%, #FFF 0%, #9999A2 100%); */
  background-clip: text;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

img {
  pointer-events: none;
  -webkit-user-drag: none;
}

.wrapper{
  min-height: 100%;
  overflow: clip;
  display: flex;
	flex-direction: column;
  background: url("../img/Frame\ 13341page.png") 0 0 no-repeat;
  width: 100%;
  background-size: cover;
}
.wrapper > main{
  flex-grow: 1;
}
[class*="__container"]{
	max-width: 1317px;
  padding-left: 20px;
  padding-right: 20px;
  margin: 0 auto;
}
.main-block{
  margin-bottom: 70px;
}
@media(max-width: 1198.98px){
  .main-block{
    margin-bottom: 0px;
  }
}
/* ---------- Header ---------- */
.header--margin{
  margin-bottom: 112px;
  padding-top: 60px;
}
.container-header{
  max-width: 1866px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}
.top-header{
  position: relative;
}
.top-header__logo {
  display: flex;
  justify-content: center;
  align-items: center;
  object-fit: cover;
  margin-bottom: 99px;
}
.top-header__title{
margin-bottom: 66px;
/* text-shadow: -4px 4px rgba(179,179,179,.4), -3px 3px rgba(153,153,153,.2), -2px 2px rgba(179,179,179,.2), -1px 1px rgba(179,179,179,.2), 0px 0px rgba(128,128,128,.5), 1px -1px rgba(77,77,77,.6), 2px -2px rgba(77,77,77,.7), 3px -3px rgba(82,82,82,.8), 4px -4px rgba(77,77,77,.9), 5px -5px rgba(77,77,77,1); */
text-shadow: 10px 14px 8px #0a0a0a;
}
.top-header__image{
  width: 139px;
  height: auto;
}
.header__item{
  max-height: 1092px;
  transition: all 0.7s;
}
.header__item--margin{
  margin-bottom: 70px;
}
.header__image{
  display: block;
  margin: 0 auto;
  width: 100%;
}
.header__item:hover{
  transform: scale(1.1);
}
.button-header {
  display: flex;
  gap: 50px;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-wrap: wrap;
  text-shadow: 5px 5px 8px #0a0a0a;
}
.button-header__btn {
  font-family: 'Benzin', sans-serif;
  border-radius: 15px;
  font-size: 30px;
  font-weight: 400;
  line-height: 1.36;
  box-shadow:
  0px 1.5px 4px rgba(0, 0, 0, 0.065),
  0px 3.7px 9.7px rgba(0, 0, 0, 0.093),
  0px 7px 18.3px rgba(0, 0, 0, 0.115),
  0px 12.5px 32.6px rgba(0, 0, 0, 0.137),
  0px 23.4px 61px rgba(0, 0, 0, 0.165),
  0px 56px 146px rgba(0, 0, 0, 0.23);
}
.button-header__btn--black{
  padding: 28px 130px;
  border: 3px solid #4cc67f;
  transition: all 0.3s;
  scroll-behavior: smooth;
}
.button-header__btn--green {
  padding: 26px 53px;
  background-color: #4cc67f;
  border: 3px solid #4cc67f;
  transition: background 0.4s;
}
@media(any-hover:hover){
  .button-header__btn--green:hover{
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.50) 0%, #294330 100%);
    border: 3px solid #4cc67f;
  }
}
.button-header__btn--black{
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.50) 0%, #294330 100%);
  transition: all 0.3s;
}
@media(any-hover:hover){
  .button-header__btn--black:hover{
    background-color: #040303f8;
  }
}
/* ---------Leaders---------- */
.leaders-block{
  margin-bottom: 107px;
}
.items-block-leaders{
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.50) 0%, #294330 100%);
  border: 3px solid #58C473;
  padding: 37px 31px 60px;
  border-radius: 28px;
  transition: all 0.4s;
  box-shadow:
  0px 1.5px 4px rgba(0, 0, 0, 0.065),
  0px 3.7px 9.7px rgba(0, 0, 0, 0.093),
  0px 7px 18.3px rgba(0, 0, 0, 0.115),
  0px 12.5px 32.6px rgba(0, 0, 0, 0.137),
  0px 23.4px 61px rgba(0, 0, 0, 0.165),
  0px 56px 146px rgba(0, 0, 0, 0.23);
}
.items-block-leaders:hover{
  transform: scale(1.05);
}
.items-block-leaders__title,
.top-header__title{
  font-family: "Benzin", sans-serif;
  font-size: 50px;
  font-weight: 700;
  line-height: 1.4; /* 70/50 */
  text-transform: uppercase ;
  text-align: center;
  text-shadow: 10px 14px 8px #0a0a0a;
}
.items-block-leaders__title{
  font-size: 22px;
}
.items-block-leaders__title--margin{
  margin-bottom: 25px;
}
.items-block-leaders__text{
  font-weight: 400;
  line-height: 1.4; /* 28/20 */
  text-align: center;
}
/* ----------Advantages-------------- */
.advantages-block{
  margin-bottom: 172px;
}
.advantages-block__title,
.drones-images__title,
.brands__title, 
.questions__title{
  font-family: 'Benzin', sans-serif;
  font-size: 45px;
  font-weight: 700;
  line-height: 1.4; /* 77/55 */
  text-transform: uppercase ;
  text-align: center;
  text-shadow: 10px 14px 8px #0a0a0a;
}
.advantages-block__title,
.drones-images__title{
  font-size: 55px;
  text-shadow: 10px 14px 8px #0a0a0a;
}
.advantages-block__title--margin,
.drones-images__title--margin,
.brands__title--margin{
  margin-bottom: 70px;
}
.advantages-block__card-box {
  display: grid;
  grid-template: repeat(2, 1fr) / repeat(auto-fill, minmax(559px,1fr));
  gap: 40px;
  justify-content: center;
  box-shadow:
  0px 1.5px 4px rgba(0, 0, 0, 0.065),
  0px 3.7px 9.7px rgba(0, 0, 0, 0.093),
  0px 7px 18.3px rgba(0, 0, 0, 0.115),
  0px 12.5px 32.6px rgba(0, 0, 0, 0.137),
  0px 23.4px 61px rgba(0, 0, 0, 0.165),
  0px 56px 146px rgba(0, 0, 0, 0.23);
}
.card-advantages {
  border: 3px solid #58C473;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.50) 0%, #294330 100%);
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  gap: 45px;
  padding: 30px;
  transition: transform 0.3s;
  text-align: center;
}
@media (any-hover: hover){
  .card-advantages:hover{
    transform: scale(1.05);
  }
}
.card-advantages__title {
  font-family: 'Benzin', sans-serif;
  font-size: 22px;
  font-weight: 700;
  line-height: 1.4; /* 35/25 */
  text-transform: uppercase;
  text-align: center;
  text-shadow: 10px 14px 8px #0a0a0a;
}
.card-advantages__title--margin{
  margin-bottom: 35px;
  padding-top: 15px;
}
.card-advantages__text {
  line-height: 1.8;
}
.card-advantages__list {
  list-style: inside;
}
.card-advantages__items {
  list-style: inside;
  padding-left: 10px;
  line-height: 1.8;
}
.card-advantages__list--justify{
  text-align: justify;
}
/* ----------Drones-images----------------- */
.drones-images--margin{
  margin-bottom: 70px;
}
.drones-images__container--width {
  /* max-width: 1715px; */
  margin: 0 auto;
}
.images-drones {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
/* .images-drones__element{
  transition: transform 0.3s;
} */
.images-drones__item{
  transition: transform 1.2s;
}
.images-drones__item:hover{
  transform: scale(1.3);
}
.images-drones__element{
  transition: transform 1.2s;
}
.images-drones__element:hover{
  transform: scale(1.3);
}

.images-drones__list {
  display: grid;
  grid-gap: 16px;
  max-width: 1236px;
  margin: 0 auto;
  justify-content: center;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: auto
}

.images-drones__image {
  width: 100%;
  height: auto;
  object-fit: cover;
}
.images-drones__image--big-img1 {
  order: -1;
}
/* ---------Brands--------------- */
.brands--margin {
  margin-bottom: 70px;
}

.brands__title--margin {
  margin-bottom: 144px;
}
.brands-wrapper{
  max-height: 800px;
  position: relative;
} 
.image-slider{
  padding: 30px 0 70px 0;
  width: 100%;
  max-width: 1200px;
  height: auto;
}
.image-slider__slide{
  display: flex;
  justify-content: center;
  align-items: center;
  transition: transform 0.3s;
}
.image-slider__slide:hover{
  transform: scale(1.02);
}
.image-slider__image{
  text-align: center;
  width: 100%;
  height: 0;
  padding-bottom: 56.25%;
  position: relative;
}
.image-slider__image img{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: contain;
  padding: 25px 25px;
}
.image-slider .swiper-pegination-bullet{
  width: 20px;
  height: 20px;
  line-height: 20px;
  font-size: 14px;
  color: #fff;
  background-color: #fff;
}
.image-slider .swiper-pegination{
  bottom: 0;
}
.swiper-pagination{
  width: 20px;
  height: 20px;
  /* background-color: red; */
}
:root {
  --swiper-theme-color: #ffff;
}
.swiper-pagination-bullet{
opacity: 1;
background: #918e8e;
}
.swiper-pagination-bullets-dynamic{
  width: 20px;
  height: 20px;
}
/* автоширина */
  /* .image-slider .swiper-slide{
      width: auto;
  } */
  .image-slider__image{
      background-color: black;
      border-radius: 15px;
      border: 3px solid #58C473;
  }

@media(any-hover:hover){
  .cards-brands__card:hover{
    transform: scale(1.02);
    
  }
}
/* --------Questions----------- */
.questions-accordion{
  max-width: 1240px;
  margin: 0 auto;
}
.questions--margin {
  margin-bottom: 36px;
}
.questions__title {
  font-size: 45px;
  font-weight: 900;
  line-height: 1.4; /* 63/45 */
  text-transform: uppercase;
}
.questions__title--margin{
  margin-bottom: 77px;
}
.accordion__item {
  border: 3px solid #58C473;
  margin-top: 20px;
  background-color: #000;
  border-radius: 17px;
  transition: transform 0.3s;
}
.accordion__title {
  font-family: 'Benzin', sans-serif;
  position: relative;
  display: block;
  padding: 25px 70px 25px 13px;
  text-decoration: none;
  border-radius: 3px;
  -webkit-transition: background-color 0.2s;
  transition: background-color 0.2s;
  cursor: pointer;
  font-size: 25px;
  font-weight: 700;
  line-height: 0.9;
  text-transform: uppercase;
  line-height: 1.2;
  background-color: #000;
  border-radius: 15px;
}
.accordion__item .accordion__title:hover {
  transition: all 0.5s ease-out;
}
/* .accordion__item .accordion-active {
  
} */
.accordion__arrow {
  position: absolute;
  top: 50%;
  right: 10px;
  -webkit-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
  transform: translate(0, -50%);
}
.accordion__item .accordion__rotate {

  transform: translate(0, -50%)rotate(180deg);

}
.accordion__item .accordion__content {
  padding: 20px 30px 30px 13px;
  text-transform: uppercase;
  display: none;
  font-size: 15px;
    font-weight: 400;
    line-height: 1.2;
    padding-bottom: 20px;
}
.accordion__arrow-item{
  background: url(../img/arrow-down.svg) 0 0 no-repeat;
  width: 28px;
  height: 17px;
  display: block;
  object-fit: cover; 
}
@media(any-hover:hover){
  .accordion__item:hover{
    transform: scale(1.05);
  }
}
.accordion__item:not(:last-child){
  margin-bottom: 40px;
}
/* ---------Contacts------------- */
/* .contacts--margin {
  margin-bottom: 120px;
} */
.contacts{
  /* overflow-y: scroll; */
  scroll-behavior: smooth;
}
.contacts__frame{
  max-width: 990px;
  margin: 0 auto;
  border: 3px solid #58C473;
  border-radius: 21px;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.50) 0%, #294330 100%);
}
.text-contacts {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  margin-bottom: 30px;
  padding-top: 36px;
}
.title-form {
  font-family: 'Benzin', sans-serif;
  font-size: 30px;
  font-weight: 700;
  line-height: 1.2;
  text-transform: uppercase;
  text-align: center;
}
.text-contacts__subtitle {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5; /* 24/16 */
  max-width: 456px;
  text-align: center;
  color: rgba(255, 255, 255, 0.8);
}
.form__line--margin:nth-child(1),
.form__line--margin:nth-child(2){
  margin-bottom: 11px;
}
.form__line--margin:nth-child(3){
  margin-bottom: 30px;
}
.form{
  max-width: 910px;
  margin: 0 auto;
}
.form--margin{
  margin-bottom: 30px;
}
.form__input {
  border: 1px solid #fff;
  height: 55px;
  border-radius: 7px;
  padding: 10px;
  text-align: center;
}
.form__input::placeholder{
  color: rgba(255, 255, 255, 0.8);
  font-size: 16px;
  font-weight: 400;
}
.form__input:focus::placeholder {
  color: transparent;
}
.form__button{
  font-family: 'Benzin', sans-serif;
  background-color: #4CC67F;
  border-radius: 7px;
  padding: 17px;
  text-align: center;
  width: 100%;
  font-size: 16px;
  font-weight: 700;
  transition: all 0.3s;
}
@media(any-hover:hover){
  .form__button:hover{
    background-color: #146f3a;
  }
}
.contacts__subtitle{
  padding-bottom: 20px;
}
.contacts__subtitle-bottom {
  text-align: center;
  font-weight: 400;
  font-size: 12px;
  color: rgba(255, 255, 255, 0.8);
}
/* ---------Footer------------ */
.footer__logo {
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer__logo-image{
  width: 200px;
}
.contacts-footer {
  padding-bottom: 140px;
  border-bottom: 1px solid #fff;
  margin-bottom: 26px;
}
.contacts-footer__list {
  display: grid;
  grid-template-columns: 197px 280px 402px 302px;
  grid-template-rows: repeat(2, 1fr);
  gap: 10px;
}
.contacts-footer__list-inner{
  display: flex;
  gap: 46px;
}
.contacts-footer__item{
  font-family: 'Benzin', sans-serif;
  font-size: 15px;
  font-weight: 700;
  line-height: 1.6; /* 24/15 */
  text-transform: capitalize;
  padding: 10px;
}
.contacts-footer__link {
  font-size: 12px;
  font-weight: 400;
  line-height: 2.0; /* 24/12 */
}
.contacts-footer__link--size{
  font-size: 15px;
  font-weight: 600;
  line-height: 1.6; /* 24/15 */
  text-transform: capitalize;
}
.contacts-footer__item--social{
  display: flex;
  flex-direction: column;
  gap: 47px;
  grid-row: span 2;
}
.contacts-footer__link--icon{
  width: 63px;
  height: 63px;
}
.contacts-footer__icon{
  width: 100%;
  border-radius: 50%;
}
.contacts-footer__link--email{
  font-family: 'Steppe', sans-serif;
  text-transform: uppercase;
}
.footer__text-bottom {
  text-align: center;
  font-size: 15px;
  line-height: 2.1; /* 32/15 */
  text-transform: uppercase;
  padding-bottom: 70px;
}
.bottom-footer__title{
  font-size: 12px;
}

/* ========================================================================= */

@media (max-width: 1214px) {
  .items-block-leaders__title--margin{
    margin-bottom: 20px;
  }
  .contacts-footer__list {
    grid-template-columns: repeat(2, 1fr); 
    grid-template-rows: auto; 
  }
  .brands__title--margin {
    margin-bottom: 42px;
  }
  .questions--margin {
    margin-bottom: 60px;
  }
  .contacts--margin{
    margin-bottom: 0px;
  }
  .header--margin{
    margin-bottom: 39px;
  }
  .button-header__btn{
    font-size: 32px;
  }
}
@media(max-width: 1000px){
  .top-header__title{
    font-size: 40px;
  }
  .header__image--margin{
    margin-bottom: 23px;
  }
  .advantages-block__title--margin,
  .drones-images__title--margin{
    margin-bottom: 36px;
  }
  .card-advantages {
    padding: 15px;
    gap: 20px;
  }
  .card-advantages__title--margin {
    margin-bottom: 15px;
  }
  .form--margin{
    padding: 0 5px;
  }
  .contacts-footer{
    margin-bottom: 10px;
    padding-bottom: 5px;
  }
  .footer__text-bottom{
    padding-bottom: 20px;
  }
  .contacts-footer__list {
    grid-template-columns: 1fr; 
    grid-template-rows: auto; 
  }
  .button-header__btn{
    font-size: 25px;
    padding: 24px 20px;
  }
  .button-header{
    width: max-content;
    margin: 0 auto;
    flex-direction: column;
  }
  .button-header__btn--green{
    padding: 24px 20px;
    width: 100%;
  }
  .button-header__btn--black{
    padding: 24px 72px;
    width: 100%;
  }
}
@media(max-width: 800px){
  .top-header__title{
    font-size: 30px;
  }
  .header--margin{
    margin-bottom: 42px;
  }
  .top-header__logo{
    margin-bottom: 20px;
  }
  .advantages-block__title,
  .drones-images__title,
  .brands__title {
    font-size: 45px;
  }
  .advantages-block__title--margin,
  .drones-images__title--margin{
    margin-bottom: 20px;
  }
  .items-block-leaders__text{
    font-size: 14px;
  }
  .advantages-block{
    margin-bottom: 67px;
  }
  .card-advantages__list--justify,
  .card-advantages__text{
    font-size: 14px;
    line-height: 1.4;
  }
  .questions--margin {
    margin-bottom: 40px;
  }
  .card-advantages__items  {
    line-height: 1.4;
  }
  .contacts-footer__list {
    grid-template-columns: 1fr; 
    grid-template-rows: auto; 
  }
  .images-drones__list{
    grid-template-columns: 1fr;
  }
}
@media(max-width: 700px){
  .lang-header-top {
    font-size: 22px;
  }
  .button-header__btn{
    font-size: 18px;
  }
  .button-header__btn--green{
    padding: 24px 27px;
  }
  .leaders-block {
    margin-bottom: 33px;
  }
  .advantages-block__title,
  .drones-images__title,
  .brands__title {
    font-size: 35px;
  }
  .accordion__title{
    font-size: 18px;
  }
  .block-questions__title--margin{
    margin-bottom: 20px;
  }
  .questions__title {
    font-size: 29px;
  }
  .items-block-leaders__title{
    font-size: 32px;
  }
  .advantages-block__card-box{
    grid-template-columns: 1fr;
    grid-auto-rows: auto;
  }
}
@media(max-width: 600px){
  .card-advantages {
    padding: 10px;
    gap: 10px;
  }
  .drones-images--margin  {
    margin-bottom: 25px;
  }
  .contacts-footer__item {
    padding-top: 0px;
  }
  .contacts-footer__item--social{
    gap: 22px;
  }
  .contacts-footer__link--icon{
    width: 50px;
    height: 50px;
  }
  .lang-header-top {
    font-size: 20px;
  }
  .header--margin{
    margin-bottom: 25px;
  }
  .accordion__item:not(:last-child){
    margin-bottom: 20px;
  }
  .accordion__title {
    font-size: 16px;
}
}
@media(max-width: 475px){
  .top-header__title{
    font-size: 25px;
  }
  .lang-header-top {
    font-size: 15px;
  }
  .top-header__image{
    width: 120px;
  }
  .advantages-block__title,
  .drones-images__title,
  .brands__title {
    font-size: 29px;
  }
  .button-header{
    gap: 15px;
  }
  .header--margin{
    margin-bottom: 40px;
    padding-top: 27px;
  }
  .items-block-leaders__title{
    font-size: 26px;
  }
  .items-block-leaders__title--margin {
    margin-bottom: 9px;
  }
  .card-advantages__title--padding{
    padding-left: 43px;
    padding-right: 43px;
  }
  .questions__title--margin{
    margin-bottom: 40px;
  }
  .contacts-footer__link--size {
    font-size: 13px;
  }
  .bottom-footer__title {
    font-size: 10px;
  }
  .questions__title {
    font-size: 19px;
    text-align: center;
  }
  .footer__logo-image{
    width: 120px;
  }
}
@media(max-width: 375px){
  .top-header__title{
    font-size: 20px;
  }
  .top-header__logo{
    margin-bottom: 5px;
  }
  .items-block-leaders__title--margin {
    margin-bottom: 13px;
  }
  .drones-images__title,
  .brands__title {
    font-size: 27px;
  }
  .card-advantages__title--margin {
    margin-bottom: 5px;
  }
  .questions--margin {
    margin-bottom: 32px;
  }
  .items-block-leaders__title{
    font-size: 20px;
  }
  .leaders-block {
    margin-bottom: 23px;
  }
  .advantages-block {
    margin-bottom: 20px;
  }
  .advantages-block__title {
    font-size: 20px;
  }
  .advantages-block__title--margin {
    margin-bottom: 16px;
  }
  .advantages-block__card-box{
    gap: 20px;
  }
  .card-advantages__title {
    font-size: 17px;
  }
  .card-advantages__text {
    font-size: 12px;
  }
  .card-advantages__items  {
    font-size: 12px;
  }
  .brands__title--margin  {
    margin-bottom: 16px;
  }
  .questions__title--margin {
    margin-bottom: 10px;
  }
  .accordion__item .accordion__content{
    font-size: 12px;
    padding-top: 0;
  }
  .accordion__title{
    font-size: 12px;
  }
  .text-contacts{
    gap: 12px;
    margin-bottom: 16px;
  }
  .title-form{
    font-size: 23px;
  }
  .text-contacts__subtitle {
    font-size: 12px;
  }
  .contacts-footer__list {
    gap: 5px;
  }
  .contacts-footer__item {
    padding: 0 5px;
  }
}

/* ============================================================================ */



