
.icon-down-open:before { content: '\e800'; } /* '' */
.icon-facebook:before { content: '\f09a'; } /* '' */
.icon-instagram:before { content: '\f16d'; } /* '' */
.icon-paper-plane:before { content: '\f1d8'; } /* '' */
